@import "tailwindcss";

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f0f4f8;
  background-image: url('../public/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}