# entornos
API/*
!API/
!API/archivos_py/
!API/Archivos_info/
# Archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Configuración del editor
.vscode/
.idea/

# Archivos de logs y temporales
*.log
*.sqlite3

# Otros
.DS_Store