# Virtualenv
Electronica/*
!Electronica/
!Electronica/graficas_practica4/

MNAF2025/*
!MNAF2025/
!MNAF2025/Mi_MNAF/
!/MNAF2025/montaña_rusa/


TEIII/*
!TEIII/
!TEIII/archivos_py/
!/TEIII/graficas/

Optica/*
!Optica/
!Optica/Examen_casa/
# Archivos de Python compilados
*.pyc
*.pyo
__pycache__/

# Configuración del editor
.vscode/
.idea/

# Archivos de logs y temporales
*.log
*.sqlite3

# Otros
.DS_Store
